<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

In [14]:
print ('Some of the popular languages that Data Scientists use are:')
ordered_list = [
"Python",
"R",
"SQL"
]

# Print each item as part of an ordered list
for i, item in enumerate(ordered_list, start=1):
    print(f"{i}. {item}")

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

In [15]:
print ('Some of the commonly used libraries used by Data Scientists include:')
ordered_list = [
"NumPy",
"Pandas",
"PyTorch"
]

# Print each item as part of an ordered list
for i, item in enumerate(ordered_list, start=1):
    print(f"{i}. {item}")

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. PyTorch

In [16]:
from IPython.display import Markdown, display

# Define the header and rows for the table
header = "| Data Science Tools |\n|--------------------|"
rows = [
    "| Jupyter Notebook   |",
    "| RStudio            |",
    "| Apache Zeppelin    |"
]

# Combine the header and rows into a single string
table = header + "\n" + "\n".join(rows)

# Display the table using Markdown in Jupyter Notebook
display(Markdown(table))

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [18]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [19]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**

In [20]:
from IPython.display import Markdown, display

# Define the items for the unordered list
items = [
    "List popular languages for Data Science",
    "List popular tools for Data Science",
    "List popular APIs, libraries for Data Science",
    "arithmetic expressions"
]

# Create the unordered list in Markdown format
unordered_list = "\n".join([f"- {item}" for item in items])

# Display the unordered list using Markdown
display(Markdown(unordered_list))

- List popular languages for Data Science
- List popular tools for Data Science
- List popular APIs, libraries for Data Science
- arithmetic expressions

## Author : 
## Dr. Shital Dongre